@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian text-platinum;
  }
}

.titan-border {
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.bg-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.gold-glow:hover {
  box-shadow: 0 0 20px rgba(197, 160, 89, 0.15);
  border-color: #C5A059;
}